In [1]:
import pandas as pd

from clean import *

In [4]:
clean_covid_data("raw_data/covid_cases_US.csv", "data/covid_cases_US.csv")

df = pd.read_csv("data/covid_cases_US.csv")
df.head()

,fips,county_name,state,latitude,longitude,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21
0,1001,Autauga,Alabama,32,-86,0,0,0,0,0,...,6071,6079,6092,6117,6121,6143,6172,6203,6228,6248
1,1003,Baldwin,Alabama,30,-87,0,0,0,0,0,...,19324,19361,19392,19433,19461,19554,19635,19670,19698,19714
2,1005,Barbour,Alabama,31,-85,0,0,0,0,0,...,2057,2061,2067,2070,2074,2084,2095,2099,2106,2113
3,1007,Bibb,Alabama,32,-87,0,0,0,0,0,...,2405,2411,2414,2416,2417,2432,2437,2442,2445,2449
4,1009,Blount,Alabama,33,-86,0,0,0,0,0,...,6008,6021,6040,6042,6043,6058,6072,6086,6084,6095

In [5]:
clean_covid_data("raw_data/covid_deaths_US.csv", "data/covid_deaths_US.csv")

df = pd.read_csv("data/covid_deaths_US.csv")
df.head()

,fips,county_name,state,latitude,longitude,Population,1/22/20,1/23/20,1/24/20,1/25/20,...,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21
0,1001,Autauga,Alabama,32,-86,55869,0,0,0,0,...,84,85,85,85,85,84,85,89,90,91
1,1003,Baldwin,Alabama,30,-87,223234,0,0,0,0,...,254,262,262,262,262,263,272,274,277,283
2,1005,Barbour,Alabama,31,-85,24686,0,0,0,0,...,49,49,50,50,50,50,50,51,51,51
3,1007,Bibb,Alabama,32,-87,22394,0,0,0,0,...,57,58,58,58,58,59,59,60,60,60
4,1009,Blount,Alabama,33,-86,57826,0,0,0,0,...,121,125,125,125,125,125,125,125,125,127

In [6]:
clean_health_data("raw_data/health_data.csv", "data/health_data.csv")

df = pd.read_csv("data/health_data.csv")
df.head()

/usr/local/anaconda3/envs/branch-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (0,1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,fips,county_name,state,population,poor_health,smokers,obesity,physical_inactivity,excessive_drinking,uninsured,physicians,unemployment,air_pollution,housing_problems,household_overcrowding,food_insecurity,residential_segregation,over_sixtyfives,rural
0,0,United States,US,327167434,0.171987,0.170800,0.290,0.233,0.189771,0.102234,0.000755,0.038953,8.6,0.179136,NaN,0.125,46.773464,0.160258,0.192690
1,1000,Alabama,AL,4887871,0.220287,0.209274,0.355,0.298,0.139035,0.110448,0.000648,0.039336,11.0,0.143407,NaN,0.163,50.777776,0.169173,0.409632
2,1001,Autauga County,AL,55601,0.208830,0.180816,0.333,0.347,0.150260,0.087217,0.000450,0.036291,11.7,0.146635,0.012019,0.132,23.628395,0.155627,0.420022
3,1003,Baldwin County,AL,218022,0.175091,0.174890,0.310,0.265,0.179583,0.113334,0.000729,0.036154,10.3,0.135662,0.012708,0.116,31.825343,0.204433,0.422791
4,1005,Barbour County,AL,24881,0.295918,0.220000,0.417,0.235,0.128440,0.122428,0.000317,0.051714,11.5,0.145833,0.016886,0.220,23.449713,0.194204,0.677896

In [7]:
clean_area_data("raw_data/us_county_area.json", "data/us_county_area.csv")

df = pd.read_csv("data/us_county_area.csv")
df.head()

   fips     area
0  1001  594.436
1  1009  644.776
2  1017  596.531
3  1021  692.854
4  1033  592.619

In [11]:
clean_weather_data("raw_data/weather/tMin_US.csv", "data/tMin_US.csv")

df = pd.read_csv("data/tMin_US.csv")
df.head()

,fips,county_name,state,latitude,longitude,1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,...,12/16/20,12/17/20,12/18/20,12/19/20,12/20/20,12/21/20,12/22/20,12/23/20,12/24/20,12/25/20
0,1001.0,Autauga,Alabama,32.539527,-86.644082,0,8,16,11,0,...,7.13,0.85,-2.79,-1.47,6.22,6.41,2.79,3.00,12.25,-3.37
1,1003.0,Baldwin,Alabama,30.727750,-87.722071,4,13,19,13,2,...,10.45,1.31,-1.73,0.65,9.66,6.59,4.36,4.94,15.13,-0.28
2,1005.0,Barbour,Alabama,31.868263,-85.387129,2,8,19,13,0,...,6.93,2.18,-2.46,-1.68,6.51,7.65,3.60,2.36,12.44,-2.22
3,1007.0,Bibb,Alabama,32.996421,-87.125115,0,8,14,10,0,...,7.28,0.05,-3.09,-2.31,6.93,6.24,2.15,2.83,8.77,-2.48
4,1009.0,Blount,Alabama,33.982109,-86.567906,0,6,12,8,-1,...,5.93,-0.66,-3.57,-2.48,5.93,5.16,2.07,2.95,7.85,-4.40

In [1]:
%run clean.py

/usr/local/anaconda3/envs/branch-env/lib/python3.8/site-packages/IPython/utils/py3compat.py:168: DtypeWarning: Columns (0,1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(compiler(f.read(), fname, 'exec'), glob, loc)

In [3]:
from setup import create_spark_session
from etl import *

spark = create_spark_session()

county_dim_df = load_county_dimension_table(spark)

In [4]:
county_dim_df.limit(5).show()

+-----+-----------+-----------+------------+----------+------------+------------+-------+-------------------+------------------+------------+-----------+------------+-------------+----------------+----------------------+---------------+-----------------------+---------------+------------+--------+------------------+-----+
| fips|county_name|   latitude|   longitude|population| poor_health|     smokers|obesity|physical_inactivity|excessive_drinking|   uninsured| physicians|unemployment|air_pollution|housing_problems|household_overcrowding|food_insecurity|residential_segregation|over_sixtyfives|       rural|    area|population_density|state|
+-----+-----------+-----------+------------+----------+------------+------------+-------+-------------------+------------------+------------+-----------+------------+-------------+----------------+----------------------+---------------+-----------------------+---------------+------------+--------+------------------+-----+
|48001|   Anderson|31.81534745|-95.65354823|     58057|0.1972772264| 0.173863208|  0.365|              0.231|      0.1923829174|0.1960252936|3.463743E-4|0.0308985187|          9.9|    0.1442365721|          0.0452625226|          0.182|           31.324239849|   0.1479752657|0.6706353279|1062.602|54.636637235766536|Texas|
|48003|    Andrews|32.30468633|-102.6376548|     18128|0.1985100222| 0.134363002|  0.349|              0.264|      0.2011542987|0.2205352059|5.078434E-4|0.0239820934|          7.3|    0.1632653061|          0.0797773655|          0.084|           10.286160726|   0.1035966461|0.1650209658|1500.713|12.079591500839934|Texas|
|48005|   Angelina|31.25457347|-94.60901487|     87092|0.2090042999|0.1585696582|  0.407|              0.345|      0.1573896433|0.2165753731|5.922214E-4|0.0438816934|          9.8|      0.17461879|          0.0490244302|          0.189|           37.254296744|   0.1632526524|0.4308236623| 797.778|109.16821471637473|Texas|
|48007|    Aransas|28.10556197| -96.9995047|     23792|0.2055054094|0.1415745233|  0.405|              0.363|      0.1589120745|0.2230243369|3.519474E-4|0.0571068451|          9.3|    0.1382198953|          0.0256544503|          0.165|           20.556187387|   0.2962760592|0.2726055791| 252.074| 94.38498218777025|Texas|
|48009|     Archer|33.61569967|-98.68754589|      8786|0.1389139766|0.1406260699|  0.268|              0.193|      0.1925183263|0.1897820549|       null|  0.03083174|          8.5|    0.0945945946|          0.0222222222|           0.14|           26.771709398|   0.2000910539|0.8898829247|  903.11| 9.728604488932689|Texas|
+-----+-----------+-----------+------------+----------+------------+------------+-------+-------------------+------------------+------------+-----------+------------+-------------+----------------+----------------------+---------------+-----------------------+---------------+------------+--------+------------------+-----+