In [1]:
import pandas as pd

In [22]:
df = pd.read_csv("data/covid_cases_US.csv")
    
county_columns = ["FIPS", "Admin2", "Province_State", "Lat", "Long_"]
columns = county_columns + list(df.columns[11:])
df = df[columns]

new_column_names = ["fips", "county_name", "state", "latitude", "longitude"]
df = df.rename(columns=dict(zip(county_columns, new_column_names)))

df = df.drop(df[(df["fips"] < 100) | (df["fips"] > 60000)].index)

df.head()

,fips,county_name,state,latitude,longitude,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21
0,1001.0,Autauga,Alabama,32.539527,-86.644082,0,0,0,0,0,...,6071,6079,6092,6117,6121,6143,6172,6203,6228,6248
1,1003.0,Baldwin,Alabama,30.727750,-87.722071,0,0,0,0,0,...,19324,19361,19392,19433,19461,19554,19635,19670,19698,19714
2,1005.0,Barbour,Alabama,31.868263,-85.387129,0,0,0,0,0,...,2057,2061,2067,2070,2074,2084,2095,2099,2106,2113
3,1007.0,Bibb,Alabama,32.996421,-87.125115,0,0,0,0,0,...,2405,2411,2414,2416,2417,2432,2437,2442,2445,2449
4,1009.0,Blount,Alabama,33.982109,-86.567906,0,0,0,0,0,...,6008,6021,6040,6042,6043,6058,6072,6086,6084,6095